---
layout: default
---
<section class="pt-5 pb-5 mt-0 align-items-center d-flex" style="height:100vh;">
  <div class="container-fluid">

    <div class="row row-logo d-flex h-100">
      <div class="d-none  d-sm-block col-sm-6  icon-zane logo" style="padding-top: 0.075em;"></div>
      <div class="d-block d-sm-none  col-xs-12 icon-zane logo mx-auto"></div>
      <div class="d-none  d-sm-block col-sm-6">
        <div id="name">Zane<br>Wolfgang<br>Pickett</div>
      </div>
    </div>

    <!-- <div class="row justify-content-center align-items-center d-flex text-center h-100">
      <div class="col-12 col-md-8 h-50 ">
        <div class="btn-container-wrapper p-relative d-block zindex-1">
          <a class="btn btn-link btn-lg mt-md-3 mb-4 scroll align-self-center text-light" href="#">
            <i class="fa fa-angle-down fa-4x text-light"></i>
          </a>
        </div>
      </div>
    </div> -->

  </div>
</section>
